.weekDay{
  width: 190px;
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  margin-top: 20px;
}

.weekDayInput{
  width: 185px;
  outline: none;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.user{
  display: flex;
  width: 250px;
  height: 30px;
  margin-left: 10px;
}

.radio{
  margin-top: 10px;
  font-size: 18px;
  margin-left: 10px;
}
